# Multiple Linear Regression

### California Test Score Data Set

The California Standardized Testing and Reporting data set contains data on test performance, school characteristics, and student demographic backgrounds. 

Test scores are the average of the reading and math scores. The studentâ€“teacher ratio used here is the number of students in the district divided by the number of full-time equivalent teachers.

The demographic variables include the percentage of students who are in the public assistance program CalWorks, the percentage of students who qualify for a reduced-price lunch, and the percentage of students who has English as a second language.

The dataset is used in the reference textbook Introduction to Econometrics, 4th edition 
(Stock and Watson).

In [2]:
# Importing useful libraries and loading data set

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.compat import lzip
import statsmodels.formula.api as smf

In [3]:
df = pd.read_excel("caschool.xlsx")
df

,Observation Number,dist_cod,county,district,gr_span,enrl_tot,teachers,calw_pct,meal_pct,computer,testscr,comp_stu,expn_stu,str,avginc,el_pct,read_scr,math_scr
0,1,75119,Alameda,Sunol Glen Unified,KK-08,195,10.900000,0.510200,2.040800,67,690.799988,0.343590,6384.911133,17.889910,22.690001,0.000000,691.599976,690.000000
1,2,61499,Butte,Manzanita Elementary,KK-08,240,11.150000,15.416700,47.916698,101,661.200012,0.420833,5099.380859,21.524664,9.824000,4.583333,660.500000,661.900024
2,3,61549,Butte,Thermalito Union Elementary,KK-08,1550,82.900002,55.032299,76.322601,169,643.599976,0.109032,5501.954590,18.697226,8.978000,30.000002,636.299988,650.900024
3,4,61457,Butte,Golden Feather Union Elementary,KK-08,243,14.000000,36.475399,77.049202,85,647.700012,0.349794,7101.831055,17.357143,8.978000,0.000000,651.900024,643.500000
4,5,61523,Butte,Palermo Union Elementary,KK-08,1335,71.500000,33.108601,78.427002,171,640.849976,0.128090,5235.987793,18.671329,9.080333,13.857677,641.799988,639.900024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,416,68957,San Mateo,Las Lomitas Elementary,KK-08,984,59.730000,0.101600,3.556900,195,704.300049,0.198171,7290.338867,16.474134,28.716999,5.995935,700.900024,707.700012
416,417,69518,Santa Clara,Los Altos Elementary,KK-08,3724,208.479996,1.074100,1.503800,721,706.750000,0.193609,5741.462891,17.862625,41.734108,4.726101,704.000000,709.500000
417,418,72611,Ventura,Somis Union Elementary,KK-08,441,20.150000,3.563500,37.193802,45,645.000000,0.102041,4402.831543,21.885857,23.733000,24.263039,648.299988,641.700012
418,419,72744,Yuba,Plumas Elementary,KK-08,101,5.000000,11.881200,59.405899,14,672.200012,0.138614,4776.336426,20.200001,9.952000,2.970297,667.900024,676.500000
419,420,72751,Yuba,Wheatland Elementary,KK-08,1778,93.400002,6.923500,47.571201,313,655.750000,0.176041,5993.392578,19.036402,12.502000,5.005624,660.500000,651.000000

## Multiple Linear Regression

Let's run a multiple linea regression including percent English Learners in the district (<b>el_pct</b>) and expenditures per pupil (<b>expn_stu</b>) as additional regressors.

The regression equation is

$$ TestScore_i = \beta_0 + \beta_1 STR_i + \beta_2 ExpnStu_i + \beta_3 PctEL_i $$

In [4]:
formula = 'testscr ~ str + expn_stu + el_pct'

model = smf.ols(formula, df).fit(cov_type = "HC0")
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                testscr   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.433
Method:                 Least Squares   F-statistic:                     148.6
Date:                Mon, 17 Feb 2025   Prob (F-statistic):           1.87e-65
Time:                        21:22:35   Log-Likelihood:                -1712.8
No. Observations:                 420   AIC:                             3434.
Df Residuals:                     416   BIC:                             3450.
Df Model:                           3
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    649.5779     15.385     42.223      0.000     619.425     679.731
str           -0.2864      0.480     -0.597      0.551      -1.227       0.654
expn_stu       0.0039      0.002      2.459      0.014       0.001       0.007
el_pct        -0.6560      0.032    -20.739      0.000      -0.718      -0.594
==============================================================================
Omnibus:                        0.046   Durbin-Watson:                   0.742
Prob(Omnibus):                  0.977   Jarque-Bera (JB):                0.070
Skew:                          -0.025   Prob(JB):                        0.966
Kurtosis:                       2.962   Cond. No.                     1.16e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)
[2] The condition number is large, 1.16e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

## F-Test

Suppose we wish to test the joint hypothesis

$ H_{0}: \beta_{1} = 0$ and $ \beta_{2} = 0$

$ H_{1}: \beta_{1} \neq 0$ or $ \beta_{2} \neq 0$ or both

To do this we must create an array <b>A</b> that contains the coefficients which the restriction will be applied.

We have four coefficients in our regression aand we would like to apply to restriction, so the array <b>A</b> must have two columns.

Since we are applying a restriction to the second coefficient ($\beta_{1}$) and the third coefficient ($\beta_{2}$), the first column will be \[0,1,0,0\] and the second column will be \[0,0,1,0\].

In [5]:
# Creating array with the constraints

A = np.array(([0,1,0,0],[0,0,1,0]))

In [6]:
print(model.f_test(A))

<F test: F=5.485974420469075, p=0.004449889994135611, df_denom=416, df_num=2>

Since the p-value is less than 5%, we can reject the null hypothesis that the coefficients $\beta_{1}$ and $\beta_{3}$ are jointly equals to zero.

## Dummy Variable Trap

Let's create a dummy variable <b>str_20</b> that presents the value 1 if $STR_i \leq 20$ and 0 if $STR_i > 20$

In [7]:
df["str_20"] = np.where(df.str > 20.0, 1, 0)
df.head()

,Observation Number,dist_cod,county,district,gr_span,enrl_tot,teachers,calw_pct,meal_pct,computer,testscr,comp_stu,expn_stu,str,avginc,el_pct,read_scr,math_scr,str_20
0,1,75119,Alameda,Sunol Glen Unified,KK-08,195,10.900000,0.510200,2.040800,67,690.799988,0.343590,6384.911133,17.889910,22.690001,0.000000,691.599976,690.000000,0
1,2,61499,Butte,Manzanita Elementary,KK-08,240,11.150000,15.416700,47.916698,101,661.200012,0.420833,5099.380859,21.524664,9.824000,4.583333,660.500000,661.900024,1
2,3,61549,Butte,Thermalito Union Elementary,KK-08,1550,82.900002,55.032299,76.322601,169,643.599976,0.109032,5501.954590,18.697226,8.978000,30.000002,636.299988,650.900024,0
3,4,61457,Butte,Golden Feather Union Elementary,KK-08,243,14.000000,36.475399,77.049202,85,647.700012,0.349794,7101.831055,17.357143,8.978000,0.000000,651.900024,643.500000,0
4,5,61523,Butte,Palermo Union Elementary,KK-08,1335,71.500000,33.108601,78.427002,171,640.849976,0.128090,5235.987793,18.671329,9.080333,13.857677,641.799988,639.900024,0

Run a regression with <b>str_20</b> as a regressor such that

$$ TestScore_i = \beta_0 + \beta_1 STR\_20_i + u_i $$

In [8]:
formula_20 = 'testscr ~ str_20'  

model_20 = smf.ols(formula_20, df).fit()
print(model_20.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                testscr   R-squared:                       0.035
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     15.05
Date:                Mon, 17 Feb 2025   Prob (F-statistic):           0.000121
Time:                        21:22:44   Log-Likelihood:                -1825.9
No. Observations:                 420   AIC:                             3656.
Df Residuals:                     418   BIC:                             3664.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    657.1846      1.202    546.616      0.000     654.821     659.548
str_20        -7.1851      1.852     -3.880      0.000     -10.826      -3.545
==============================================================================
Omnibus:                        3.142   Durbin-Watson:                   0.108
Prob(Omnibus):                  0.208   Jarque-Bera (JB):                2.517
Skew:                           0.059   Prob(JB):                        0.284
Kurtosis:                       2.640   Cond. No.                         2.47
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

If we create a new variable <b>str_ex_20</b> that presents the value 1 if $STR_i \leq 20$ and 0 if $STR_i > 20$ then $str_20 + str_ex_20 = 1$.

If we run a regression

$$ TestScore_i = \beta_0 + \beta_1 STR\_20_i + \beta_2 STR\_ex\_20_i + u_i $$

This will cause perfect multicollinearity.

In [9]:
df["str_ex_20"] = np.where(df.str <= 20.0, 1, 0)

formula_ex_20 = 'testscr ~ str_20 + str_ex_20'  

model_ex_20 = smf.ols(formula_ex_20, df).fit()
print(model_ex_20.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                testscr   R-squared:                       0.035
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     15.05
Date:                Mon, 17 Feb 2025   Prob (F-statistic):           0.000121
Time:                        21:23:32   Log-Likelihood:                -1825.9
No. Observations:                 420   AIC:                             3656.
Df Residuals:                     418   BIC:                             3664.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    435.7280      0.617    705.819      0.000     434.515     436.941
str_20       214.2714      1.021    209.849      0.000     212.264     216.279
str_ex_20    221.4566      0.929    238.397      0.000     219.631     223.283
==============================================================================
Omnibus:                        3.142   Durbin-Watson:                   0.108
Prob(Omnibus):                  0.208   Jarque-Bera (JB):                2.517
Skew:                           0.059   Prob(JB):                        0.284
Kurtosis:                       2.640   Cond. No.                     7.38e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.17e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.